---
const { databowl } = Astro.props;
---

<div class="div1">
  <img src={databowl.imgsrc} alt={databowl.imgalt} />
  <div class="overskrift">
    <h3>{databowl.title}</h3>
    <h3>{databowl.price}</h3>
  </div>
  <h5>{databowl.description}</h5>
</div>

<style>
  .overskrift {
    display: flex;
    justify-content: space-between;
  }
  h4 {
    font-weight: var(--fw-p);
  }
  .div1 {
    /* width: 100%; */
    padding: 5%;
    padding-bottom: 6%;
  }
  img {
    width: 100%;
  }
  h3 {
    color: var(--green);
    font-family: var(--ff-cta);
    font-weight: var(--fw-l);
    font-size: var(--fs-p);
    padding-bottom: 2px;
  }

  h3:nth-of-type(2) {
    font-weight: var(--fw-m);
  }

  h5 {
    font-family: var(--ff-text);
    font-size: var(--fs-xs);
    font-weight: var(--fs-l);
    line-height: 1.2;
  }
</style>
