---
// const { databowl } = Astro.props;
---

<!-- <div>
  <img src={imagesource} alt={imagealt} />
  <div>
    <h3>{bowltitle}</h3>
    <h3>{price}</h3>
  </div>
  <p>{bowldescription}</p>
</div> -->
<div class="div1">
  <img src="img/sortbowl.png" alt="" />
  <div class="">
    <h3>Bonsaiskål</h3>
    <h3>Pris 129 DKK</h3>
  </div>
  <h4>Sort plettet bonsaiskål med huller i bunden</h4>
</div>

<style>
  h4 {
    font-weight: var(--fw-p);
  }
  .div1 {
    width: 100%;
    padding: 3%;
  }
  img {
    width: 100%;
  }
  h3 {
    font-size: var(--fs-3);
  }
</style>
