---
const { data } = Astro.props;
// const { imagesource, imagealt, treetitle, latinname, treedescription } = Astro.props;
---

<div>
  <img src={data.imgsrc} alt={data.imgalt} />
  <h3>{data.title}</h3>
  <h4>{data.latin}</h4>
  <p>{data.description}</p>
</div>

<style>
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  h3 {
    color: var(--green);
    font-family: var(--ff-cta);
    font-weight: var(--fw-l);
    font-size: var(--fs-3);
  }
  h4 {
    font-family: var(--ff-cta);
    font-weight: var(--fw-l);
    color: var(--green);
    font-size: var(--fs-4);
  }
  p {
    font-family: var(--ff-text);
    font-size: var(--fs-p);
    text-align: center;
    /* max-width: 33ch; */
    line-height: 1.4;
  }

  @media (width> 750px) {
  }
  @media (750px < width < 1175px) {
  }

  @media (500px < width < 750px) {
  }
</style>
